.App{
  background-color: khaki;
  height: 100%;
  width: 100%;
}

.src{
  background-color: seagreen;
  height: 200px;
  width: 200px;
}

.border-white{
  border: 2px solid white;
}

.bg-dark{
  background-color: rgba(209, 205, 98, 0.493);
}

.board-main{
  height: 70vh;
  width: 95%;
  border: 2px solid black;
  background-color: tan;
}

.board-img{ 
  height: 50%;
  width: 50%;
  border: 1px solid red;
}

.container{
  display: flex;
  background-color: thistle;
  justify-content: center;
  text-align: center;
}

.layoutRoot {
  display: flex;
  height: 70vh;
  background: #eee;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

input[type='file'] {
  outline: none;
  width: 80%;
  color: transparent;
}