.App{
  background-color: khaki;
  height: 100%;
  width: 100%;
}
.src{
  background-color: seagreen;
  height: 200px;
  width: 200px;
}
.bg-dark{
  background-color: rgb(45, 99, 160);
}
.test{
  background-color: khaki;
  border: 1px solid white;
  height: 100px;
  width: 100px;
}
.container{
  display: flex;
  background-color: thistle;
  justify-content: center;
  text-align: center;
}

.tools{
  border: 2px solid greenyellow;
  height:100px;
  width: 15%;
  color: rgba(241, 238, 61, 0.938);
  margin-right:5%;
  margin-bottom: 5px;
  background-color: rgb(45, 99, 160);
}

.layoutRoot {
  display: flex;
  background: #eee;
  margin-bottom: 20px;
  flex-wrap: wrap;
}