.App{
  background-color: khaki;
  height: 100%;
  width: 100%;
}

.src{
  background-color: seagreen;
  height: 200px;
  width: 200px;
}

.border-white{
  border: 2px solid white;
}

.bg-dark{
  background-color: rgba(209, 205, 98, 0.493);
}

.room-tile{
  transform: scale(1.0);
  height: 30%;
  width: 30%;
  color: green;/* 
  background-color: rgb(235, 4, 43); */
  border: 1px solid black;
}

.room-tile:hover{
  filter: grayscale(100%) sepia(100%);
}

.house{
  display: flex;
  width:100%;
  height: 50%;
  border: 2px solid red;
}
.board-main{
  height: 70vh;
  width: 95%;
  border: 2px solid black;
  background-color: tan;
  background-repeat:no-repeat ;
  background-size: contain;
  background-image: url('./components/_attwio1.jpg');
}

.board-img{ 
  height: 50%;
  width: 50%;
  border: 1px solid red;
}

.container{
  display: flex;
  background-color: thistle;
  justify-content: center;
  text-align: center;
}

.layoutRoot {
  display: flex;
  height: 70vh;
  background: #eee;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
/* .dining{
  margin-top: 1.4%;
} */
input[type='file'] {
  outline: none;
  width: 80%;
  color: transparent;
}